.card_profile {
  display: grid;
  grid-template-columns: min-content 1fr;
  border-radius: 16px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  height: 80px;
}

.text_penjual {
  margin-left: 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.text_kota {
  color: #8a8a8a;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-top: 4px;
}
.title-bidder {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.title {
  text-align: center;
  font-size: 16px;
}

.btn-tolak {
  margin-top: 20px;
  width: 158px;
  height: 36px;
  background-color: #ffff;
  border-radius: 16px;
  border: 1px solid #7126b5;
}

.btn-simpan {
  margin-top: 20px;
  width: 158px;
  height: 36px;
  background-color: #7126b5;
  color: #ffffff;
  border-radius: 16px;
  border: none;
}

.btn_kirim {
  margin-top: 20px;
  width: 452px;
  height: 48px;
  background-color: #7126b5;
  color: #ffffff;
  border-radius: 16px;
}

.field_produk {
  width: 296px;
  height: 48px;
  border-radius: 16px;
}

.bidder-info {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 12px;
  margin-top: 15px;
  margin-left: 20px;
}

.bidder_produk {
  margin-left: -45px;
}

.back {
  margin-top: 30px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: inline;
  position: relative;
}

.produk-img {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  margin-left: 50px;
  object-fit: cover;
}

.text-bidder {
  margin-left: 20px;
  font-size: 12px;
  color: #8a8a8a;
}

.text-date {
  font-size: 12px;
  color: #8a8a8a;
}

.bb-line {
  border-bottom: 1px #d0d0d0 solid !important;
  margin-top: 20px;
  margin-bottom: 20px;
}

.desc-produk {
  margin-left: 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}