/* Add Product Box Start */

.add-product-box {
  width: 206.67px;
  height: 198px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed #d0d0d0;
  border-radius: 16px;
  cursor: pointer;
  margin-left: 20px;
}

.card-product-seller {
  width: 206.67px;
  display: flex;
  margin-left: 30px;
  height: 210px;
  border-radius: 4px;
  object-fit: cover;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.card-product-seller:hover {
  /* z-index: 2; */
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.02);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.02);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.02);
  transition: all 200ms ease-in;
  transform: scale(1.02);
}
.card-product-sold {
  width: 206.67px;
  display: flex;
  margin-left: 20px;
  height: 210px;
  border-radius: 4px;
  object-fit: cover;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.card-list-product {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 668px;
  height: 198px;
}

.card-product-sold:hover {
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.02);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.02);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.02);
  transition: all 200ms ease-in;
  transform: scale(1.02);
}

.image-like {
  width: 206.67px;
  height: 198px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-left: 170px;
}
.img-wrapper {
  margin-left: 15px;
  margin-top: 3px;
}
.price-product-seller {
  /* font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  width: 190.67px;
  height: 20px;
  margin-bottom: -50px;
  margin-left: 10px; */
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.product-category-seller {
  /* font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #8a8a8a;
  width: 190.67px;
  height: 14px;
  margin-left: 10px; */
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #8a8a8a;
}

.card-img-top-seller {
  /* margin-top: 11px;
  object-fit: cover;
  border-radius: 4px;
  width: 190.67px;
  height: 100px;
  margin-left: 8px; */
  /* margin-top: 11px; */
  width: 190.67px;
  height: 100px;
  margin-left: -7px;
  margin-top: 5px;
  object-fit: cover;
  border-radius: 4px;
}

.product-title-seller {
  /* margin-top: 10px;
  width: 190.67px;
  height: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #000000;
  margin-left: 10px; */
  margin-top: 10px;
  height: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #000000;
}

.text-category {
  display: none;
}

.category-product-list {
  display: block !important;
  display: flex;
  padding-left: -20px;
  overflow-x: auto !important;
}

.category-product-list::-webkit-scrollbar {
  width: 0;
}

.button-group-custom {
  background-color: white !important;
  display: flex !important;
}

.btn-group-category {
  display: flex !important;
  justify-content: center;
  align-items: center;
  min-width: fit-content !important;
  max-width: fit-content !important;
  min-height: 48px;
  border-radius: 16px !important;
  background-color: #e2d4f0 !important;
  color: #000000 !important;
  font-weight: 400 !important;
  border: none !important;
  margin-right: 20px;
  cursor: pointer;
  padding: 0px 20px !important;
}

.right-arrow {
  display: none !important;
}

.most-like {
  width: 296px;
  height: 258px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -260px;
  margin-left: 500px;
}

/* Radio Button Group End */
@media (min-width: 992px) {
  .text-category {
    display: block;
  }

  .category-product-list {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    padding: 24px;
    margin-right: 40px;
    display: flex;
    overflow-x: auto !important;
  }

  .category-product-list::-webkit-scrollbar {
    width: 0;
  }

  .button-group-custom {
    display: block !important;
    background-color: white !important;
  }

  .btn-group-category {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    text-align: start !important;
    min-width: fit-content !important;
    max-width: 100% !important;
    min-height: 48px;
    padding: 16px 10px !important;
    border-color: #d0d0d0;
    border-radius: 2px !important;
    background-color: #ffffff !important;
    color: #000000 !important;
    font-weight: 400 !important;
    margin-right: 0px;
  }

  .bb-category {
    border-bottom: 2px #d0d0d0 solid !important;
  }

  .right-arrow {
    display: block !important;
  }
}
