.confirm-sold-status-dialog-modal {
  max-width: 360px;
}

.confirm-sold-status-content-modal {
  border-radius: 16px;
  border: none;
  padding: 22px 32px;
}

.confirm-sold-status-header-modal {
  border: none;
  padding: 0px;
}

.confirm-sold-status-body-modal {
  padding: 0px;
  margin-top: 22px;
}

.confirm-sold-status-body-message-modal {
  font-weight: 500;
  font-size: 14px;
}

.confirm-sold-radio-title {
  font-weight: 400;
  font-size: 14px;
}

.confirm-sold-radio-verbose {
  font-weight: 300;
  font-size: 14px;
  color: #8a8a8a;
  margin-top: 8px;
}

.confirm-sold-status-button-modal {
  height: 48px;
  background: #7126b5;
  color: #fff;
  border-radius: 16px;
  border: none;
}

.confirm-sold-status-footer-modal {
  border: none;
  margin: 0px;
  padding: 0px;
  margin-top: 18px;
}
.confirm-sold-status-footer-modal button{
  border: none;
  margin: 0px;
}

.regular-radio {
  display: none;
  float: left;
  margin-left: -1.5em;
  margin-top: 3.5px;
}

.regular-radio {
  -webkit-appearance: none;
  background-color: #C4C4C4;
  border: 4px solid #C4C4C4;
  border-radius: 10px;
  width: 100%;
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
}

.regular-radio:checked {
  background-color: #7126b5;
  border: 4px solid #C4C4C4;
  outline: none;
  box-shadow: none;
}