.text_modal {
  font-size: 14px;
}

.card_tawar {
  display: grid;
  grid-template-columns: min-content 1fr;
  background: #eeeeee;
  border-radius: 16px;
  font-size: 12px;
}

.btn-kirim {
  background-color: #7126b5;
  border: none;
  border-radius: 14px;
  color: white;
  font-size: 14px;
  height: 48px;
}
.card_border_tawar {
  border: #eeeeee;
}

.input_modal {
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;

  gap: 16px;
  background: #ffffff;
  border: 1px solid #d0d0d0;
  border-radius: 14px;
  border: 1px solid #d0d0d0;
  border-radius: 16px;
}

.btn-close {
  cursor: pointer;
}
.modal-content {
  border-radius: 16px;
  top: 140px;
  left: 50px;
  position: relative;
  width: 360px;
  height: 500px;
}
