.profile_seller {
  display: grid;
  grid-template-columns: min-content 1fr;
  width: 968px;
  height: 80px;
  position: absolute;
  margin-left: 80px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid #FFFFFF;
  border-radius: 16px;
}

.text_penjual{
  margin-left: 15px;
}
.daftar_jual{
  margin-left: 85px;
  margin-bottom: 30px;
}

.btn_edit {
  width: 47px;
  height: 26px;
  border: 1px solid #7126B5;
  background: #FFFFFF;
  border-radius: 8px;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
  margin-top: 25px;
}

.profile_btn {
 display: flex;
 margin-left: 830px;
 margin-top: -60px;
 cursor: pointer;
 width: 47px;
 height: 26px;
 
}

.profile_image{
  margin-top: 15px;
  margin-left: 15px;
}